$color1 = #A69576;
$color2 = #F7E7CE;

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
	background-color: $color2;
	color: $color1;
	font-family: 'Ubuntu', sans-serif;
}

a, a:link, a:visited {
	text-decoration: none;
	color: $color1;
}

.photo {
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	box-shadow: 1px 2px 10px #000;
	border: 2px solid #fff;
	img {
		max-width: 100%;
	}
}

.photo-list {
	list-style: none outside none;
	li {
		display: inline-block;
		margin: 10px;
	}
}
