extends ./layout.jade
block title
	title #glissmante Wedding Gallery

block content
	a(href='/random') Random Photo
	ul.photo-list
		each photo in photos
			li.grid-5
				a(href='/view/#{photo}')
					+photo(photo)
