// define a reusable photo mixin
mixin photo(url)
	div.photo
		img(src='/photos/#{url}')
doctype html

// the default layout
html
	head
		block title
		link(rel='stylesheet', href='/stylesheets/main.css')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		if refresh
			meta(http-equiv='refresh' content='5')
	body
		header#header
			h1: a(href='/') Elizabeth &amp; Jeremy
			h2 #glissmante wedding
		div#main.container
			div.grid-10
				block content
