extends ./layout.jade

block content
	+photo(photo)
	meta(name='twitter:card' content='#glissmante wedding')
	meta(name='twitter:site' content='@nicknisi')
	meta(name='twitter:title' content='#glissmante wedding')
	meta(name='twitter:description' content='Having a great time at the #glissmante wedding!')
	meta(name='twitter:creator' content='@nicknisi')
	meta(name='twitter:image:src' content='http://glissmante.wedding/#{photo}')
	meta(name='twitter:domain' content='http://glissmante.wedding')
